@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.mainMenu {
  &__banner {
    min-height: 50vh;
    background-image: url('./banner.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-top: 2rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;

    &-item {
      padding: 1rem;
      margin: 10px 0;
      &__right{
        float: right;
      }
      &__left{
        float: left;
      }

      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: normal;
        border: 0;

        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
        }

        &--active {
          color: $color-base;
        }

      }

    }

  }
}
.menu {
  @include margin-bottom(1);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 0;
      margin: 10px 0;

      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: normal;
        border: 0;

        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
        }

        &--active {
          color: $color-base;
        }

      }

    }

  }

}
